@import "../../../styles/Keyframes.scss";
@import "../../../styles/variables.scss";

.banner {
    width: 100%;
    padding: .8rem;
    animation: Show .3s;
}

.field1 {
    text-align: start;
    
    a {
        padding: .1rem 2rem;
        background-color: $color-green;
        color: $color-white;
        border-radius: 2px;

        &:hover {
            background-color: $color-green2;
        }
    }
}

.field2 {
    img {
        width: 100%;
    }
}


@include md {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}