@import "../../../styles//variables.scss";
@import "../../../styles//Keyframes.scss";

.guide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: .8rem 0;

    a {
        padding: .2rem;
        width: 102px;
        box-shadow: 0px 0px 10px $color-boxShadow ;
        border-radius: 4px;

        &:hover {
            background-color: $color-green;
            color: $color-white;
        }
    }
}