@import "../../../styles/variables.scss";
@import "../../../styles/Keyframes.scss";

.navbar {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: ShowScrollTop .3s;

    a {
        padding: .6rem;
        display: inline-block;
    }
}

.field1 {
    a {
        font-size: 1.4rem;
        font-weight: 600;
        color: $color-green;
    }
}

.field2 {
    color: $color-black;
}


@include md() {
    .navbar {
        width: 60vw;
        margin: 0 auto;

        a {
            &:hover {
                text-shadow: 2px 2px 4px $color-textShadow;
            }
        }
    }

    .field1 a {
        font-weight: 700;
    }

    .field2 a {
        font-size: 1.1rem;
    }
}